*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background: #2B303A;
}

.container{

    width: 500px;
    margin: 60px auto;
}

.container h1{

    font-size: 55px;
    color: #fff;
    outline: none;
}

#inputValue{

    width: 480px;
    height: 50px;
    outline: none;
    background: #fff;
    border: none;
    border-radius: 8px;
    margin: 20px 0;
    cursor: pointer;
}