*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background: #2B303A;
}

.container{

    width: 500px;
    height: 800px;
    margin: 60px auto;
}

.container h1{

    font-size: 55px;
    color: #fff;
    outline: none;
}

#inputValue{

    width: 480px;
    height: 60px;
    outline: none;
    background: #fff;
    border: none;
    border-radius: 8px;
    margin: 20px 0;
    cursor: pointer;
}

#inputValue[type=number]{

    font-size: 20px;
    padding: 0 20px;
}

.resultBox{

    height: 90px;
    width: 480px;
    background-color: red;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
}

.resultBox h3{

    display: inherit;
    background: none;
    padding: 20px 20px;
    font-size: 20px;
}

.resultBox1{

    background: #08A045;
}

.resultBox2{

    background: #00CFC1;
}

.resultBox3{

    background: #D6C9C9;
}
#gValue, #tonValue, #lbsValue{
    
    display: inherit;
    background: none;
    margin-top: -30px;
    font-size: 15px;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
}